nav ul li {
    font-weight: bold;
}

nav a {
    font-weight: bold;
}

nav ul li:hover {
    background-color: black;
    opacity: 0.8;
    border-radius: 17px;
    text-decoration: underline;
}

nav {
    position: absolute;
    z-index: 1000;
}

.container-fluid {
    background-color: black;
    opacity: 0.9;
    
}

body, html{
  background-image: url('/img/sekolah.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
.icon-container {
    display: flex;
    gap: 10px; /* Optional: Adds space between the images */
    align-items: center; /* Optional: Aligns images vertically if they are of different sizes */
}



